@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'lato', sans-serif;
    width: 100%;
    height: 100%;
    text-align: center;
}


section{
    position:absolute;
    top: 100px;
    margin: auto;
    text-align: center;
    animation-name: motion-body;
    animation-duration: 2s;
}

@keyframes motion-body{
    0%{
        top:300px;
    }
    100%{
        top:100px;
    }
}

.checkbtn{
    font-size: 30px;
    color: #7E2ADB;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  #check{
    display: none;
  }


nav{
    width: 100%;
    position: fixed;
    z-index: 1;
    background-color: white;
}
nav ul{
    list-style: none;
    display: flex;
}

nav ul li{
    margin: 20px;
    padding: 5px;
    
}

nav ul li a{
    text-decoration: none;
    color: black;
    font-family: 'poppins', sans-serif;
}

a.active{
    color: #7E2ADB;
}

nav ul li:hover{
    border-bottom: 3px solid #7E2ADB;
}

main{
    padding: 0 15% 5% 15%;
    border-bottom: 2px solid ;
    border-image: radial-gradient(rgba(145, 41, 228, 1),rgba(145, 41, 228, 0.3), rgba(145, 41, 228, 0)) 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.bulet-1{
    width: 80px;
    height: 80px;
    margin-left: 90%;
    border-radius: 50px;
    background: #7E2ADB;
    opacity: 0.5;
}
#motion-1{
    animation-name: motion-1;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    
}

a{
    font-family: 'poppins', sans-serif;
}

@keyframes motion-1 {
    0% {
      
      margin-left:90%;

    }
    50% {
      
      margin-left:100%;

    }
    100% {
      
      margin-left:90%;

    }
  }
.bulet-2{
    width: 40px;
    height: 40px;
    margin-left: 40%;
    border: 5px solid rgba(145, 41, 228, 0.7);
    box-sizing: border-box;
    border-radius: 50px;
}
#motion-2{
    animation-name: motion-2;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    
}

@keyframes motion-2 {
    0% {
      
      margin-left:40%;

    }
    50% {
      
      margin-left:50%;

    }
    100% {
      
      margin-left:40%;

    }
  }

h1{
    font-family: 'poppins', sans-serif;  
}
span{
    color: #7E2ADB;
}

p{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: normal;
    font-family: 'poppins', sans-serif;
}

.button{
    background: linear-gradient(90deg, #7E2ADB 0%, #9129E4 35.94%, #B227F4 100%);
    border-radius: 50px;
    padding: 10px 50px;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.button a{
    color: white;
    text-decoration: none;
    position: relative;
    top: -2px;
}
i{
    margin-right: 10px;
    position: relative;
    top: 4px;
}
.button:hover{
    color: white;
    opacity: 0.7;
    transition: .5s;
}

.button a:hover{
    color: white;
}
article{
    border-bottom: 2px solid ;
    border-image: radial-gradient(rgba(145, 41, 228, 1),rgba(145, 41, 228, 0.3), rgba(145, 41, 228, 0)) 1;
    
}
h3{
    font-family: 'poppins', sans-serif;
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.chart{
    margin:0 70px;
}
.content .chart img{
    margin-bottom: 15px;
}

.sertif{
    margin:0 30px ;
    padding-bottom: 30px;
}

.sertif img{  
    width: 339px;
    transition: 0.5s;
}

.sertif img:hover{
    width: 490px;
    transition: .5s;
}

.mb-sm-5{
    margin-bottom: 50px;
}
@media (max-width: 800px){
    .checkbtn{
      display: block;
      margin-right: 15px;
      float: right;
    }
    
    ul{
      position: fixed;
      z-index: 1;
      width: 100%;
      height: 100vh;
      top: 80px;
      left: 100%;
      background-color: white;
      text-align: center;
      transition: all .5s;
      display: flex;
      flex-direction: column;
    }
    nav{
        width: 100%;
    }

    nav ul li{
      margin: 50px 0;
      line-height: 30px;
    }
    
    
    nav ul li a{
      font-size: 20px;
    }
    
    a:hover,a.active{
      background: none;
      color: #7E2ADB;
    }
    #check:checked ~ ul{
      left: 0;
    }

    section{
        position:absolute;
        top: 100px;
        text-align: center;
        animation-name: motion-body;
        animation-duration: 2s; 
    }
    @keyframes motion-body{
        0%{
            top:300px;
        }
        100%{
            top:100px;
        }
    }
    .sertif img:hover{
        width: 100%;
    }
    .bulet-1{
        width: 80px;
        height: 80px;
        margin-left: 50%;
        border-radius: 50px;
        background: #7E2ADB;
        opacity: 0.5;
    }
    #motion-1{
        animation-name: motion-1;
        animation-duration: 4s;
        animation-iteration-count: infinite;
        
    }
    
    @keyframes motion-1 {
        0% {
          
          margin-left:50%;
    
        }
        50% {
          
          margin-left:70%;
    
        }
        100% {
          
          margin-left:50%;
    
        }
      }
    .bulet-2{
        width: 40px;
        height: 40px;
        margin-left: 10%;
        border: 5px solid rgba(145, 41, 228, 0.7);
        box-sizing: border-box;
        border-radius: 50px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    #motion-2{
        animation-name: motion-2;
        animation-duration: 5s;
        animation-iteration-count: infinite;
        
    }
    
    @keyframes motion-2 {
        0% {
          
          margin-left:10%;
    
        }
        50% {
          
          margin-left:30%;
    
        }
        100% {
          
          margin-left:10%;
    
        }
      }
}

