@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
h1,h2,h3,h4,h5,a{
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
}
h1{
  color: rgba(126, 42, 219, 1);

}
nav{
  width: 100%;
  
}

nav ul{
  list-style: none;
  display: flex;
}

nav ul li{
  margin: 20px;
  padding: 5px;
  
}

nav ul li a{
  text-decoration: none;
  color: black;
}

a.active{
  color: #7E2ADB;
}

nav ul li:hover{
  border-bottom: 3px solid #7E2ADB;
}
.checkbtn{
  font-size: 30px;
  color: #7E2ADB;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}
section{
  position: relative;
  top: 0px;
  animation-name: motion-body;
  animation-duration: 2s;
}
@keyframes motion-body{
  0%{
      top:300px;
  }
  100%{
      top:0px;
  }
}

.content{
  margin-top: 40px;
  
}
main{
  display: flex;
  justify-content: space-between;
  margin: 0 60px;
}
aside {
  border-left: 2px solid;
  border-image: radial-gradient(rgba(145, 41, 228, 1),rgba(145, 41, 228, 0.3), rgba(145, 41, 228, 0)) 1;
  box-sizing: border-box;
}
aside img{
  padding-left:60px;
}
.bulet-1{
  width: 80px;
  height: 80px;
  margin-left: 70%;
  border-radius: 50px;
  background: #7E2ADB;
  opacity: 0.5;
}
#motion-1{
  animation-name: motion-1;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  
}

@keyframes motion-1 {
  0% {
    
    margin-left:70%;

  }
  50% {
    
    margin-left:80%;

  }
  100% {
    
    margin-left:70%;

  }
}

.bulet-2{
  width: 40px;
  height: 40px;
  margin-left: 35%;
  border: 5px solid rgba(145, 41, 228, 0.7);
  box-sizing: border-box;
  border-radius: 50px;
}
#motion-2{
  animation-name: motion-2;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  
}

@keyframes motion-2 {
  0% {
    
    margin-left:35%;

  }
  50% {
    
    margin-left:45%;

  }
  100% {
    
    margin-left:35%;

  }
}

.bulet-3{
  width: 150px;
  height: 150px;
  float: right;
  border-radius: 150px;
  border: 10px solid rgba(126, 42, 219, 0.7);
  box-sizing: border-box;
  margin-right: 5%;
  margin-top: 10px;
}
#motion-3{
  animation-name: motion-3;
  animation-duration: 7s;
  animation-iteration-count: infinite;
}

@keyframes motion-3 {
  0% {
    
    margin-right:5%;

  }
  50% {
    
    margin-right:-5%;

  }
  100% {
    
    margin-right:5%;

  }
}


.bulet-4{
  width: 60px;
  height: 60px;
  opacity: 0.5;
  margin-left: 20%;
  margin-top: 15%;
  border-radius: 50px;
  background: #B227F4;
}
#motion-4{
  animation-name: motion-4;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}

@keyframes motion-4 {
  0% {
    
    margin-left:20%;

  }
  50% {
    
    margin-left:30%;

  }
  100% {
    
    margin-left:20%;

  }
}


.button{
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.download{
  background: linear-gradient(90deg, #7E2ADB 0%, #9129E4 35.94%, #B227F4 100%);
  border-radius: 50px;
  color: white;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
  padding: 10px 50px;
  transition: .5s;
  
}
.button .download:hover{
  opacity: 0.6;
  transition: .5s;
  color: white;
}
.button a{
  margin-right: 24px;
}
.github:hover{
  border-bottom: 3px solid #7E2ADB;
}

.instagram:hover{
  border-bottom: 3px solid #7E2ADB;
}
.whatsapp:hover{
  border-bottom: 3px solid #7E2ADB;
}
.dribbble:hover{
  border-bottom: 3px solid #7E2ADB;
}

i{
  position: relative;
  top: 5px;
  margin-right: 5px;
}




@media (max-width: 800px){
.checkbtn{
  display: block;
  margin-right: 15px;
  float: right;
}
section{
  position: relative;
  top: 100px;
  animation-name: motion-body;
  animation-duration: 2s;
}
@keyframes motion-body{
  0%{
      top:300px;
  }
  100%{
      top:100px;
  }
}

.button{
  margin-top: 23px;
}
.btn-icon{
  margin-top: 20px;
}
aside{
  border: none;
}

main{
  display: flex;
  flex-wrap: wrap-reverse;
}

ul{
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100vh;
  top: 80px;
  left: 100%;
  background-color: white;
  text-align: center;
  transition: all .5s;
  display: flex;
  flex-direction: column;
}
nav ul li{
  margin: 50px 0;
  line-height: 30px;
}


nav ul li a{
  font-size: 20px;
}
.button .download{
  background: linear-gradient(90deg, #7E2ADB 0%, #9129E4 35.94%, #B227F4 100%);
  border-radius: 50px;
  color: white;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
  padding: 10px 50px;
  transition: .5s;
  
}
.download:hover{
  color: white;
  opacity: 0.7;
}

a:hover,a.active{
  background: none;
  color: #7E2ADB;
}
#check:checked ~ ul{
  left: 0;
}
.bulet-2{
  margin-left: 45%;
}
.bulet-3{
  display: none;
}
.bulet-4{
  display: none;
}
section{
  margin-bottom: 40%;
}
}

@media(max-width: 525px){
  aside img{
    width: 100%;
    padding-left:0px;
  }
  aside{
    border: none;
  }
}